node_modules/
dist/
data/
*.sqlite
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm
.env
.env.local
.env.production
.DS_Store
/notifications-demo.mp4

# Expo
.expo/
apps/expo/ios/
apps/expo/android/
apps/expo/google-services.json
expo-env.d.ts
@useautumn-sdk.d.ts
